/* You can add global styles to this file, and also import other style files */
.header_Section{
    margin-bottom: 50px;
}

.footer_Section {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}